<div class="icu-notice">
	Please go to App Settings to create your offer. The Offer below is just an example.
</div>
<div id="nudge-offer-outline" class="icu-outline nudge-offer custom with-image  multi compact" data-offerid="163416">
	<div class="icu-offer-title">
		<strong id="icu-offer-title">Offer #1</strong>
	</div>
	<div class="icu-offer-items variants">
		<div class="nudge-wrapper">
			<div style="display: flex; justify-content:center">
				<img src="{{ "upload-image.png" | asset_img_url: '15x' }}" loading="lazy" class="product-image medium">
			</div>
			<div class="product-title-wrapper">
                <span class="product-title">
                    Offer Product
                </span>
			</div>
			<div>
				$0.00
			</div>
			<div action="#" class="variants" id="product-actions-outline" method="post">
				<span class="quantity-wrapper">
					<select id="quantity-select" name="quantity">
						<option value="1">1</option>
						<option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </span>

				<input name="quantity" type="hidden" value="1"></input>

				<input type="submit" name="add" class="bttn product-price" value="Add to Cart" />
			</div>
		</div>
	</div>
</div>