.custom-button-style {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 2.25rem;
    min-width: 2.25rem;
    margin: 0;
    padding: calc((2.25rem - var(--p-font-line-height-2) - var(--p-space-05))/2) var(--p-space-4);
    box-shadow: var(--p-shadow-sm);
    border-radius: var(--p-border-radius-1);
    color: var(--p-color-text);
    border: var(--p-border-width-1) solid var(--p-color-border-strong);
    text-align: center;
    cursor: pointer;

}
