.comp-cont {
    padding: var(--p-space-4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-decor {
    font-weight: bold;
}

.card-space {
    padding: var(--p-space-4);
    padding-top: var(--p-space-0);
}

.grid-space {
    padding-top: var(--p-space-8);
}

.page-space {
    padding: var(--p-space-8);
}

.progress-bar-space {
    padding-top: var(--p-space-4);
    padding-bottom: var(--p-space-4);
    --p-color-bg-strong: black;
}

.cart-product-space {
    margin-top: var(--p-space-8);
    margin-inline: var(--p-space-8);
}

.custom-progress-bar {
    color: var(--p-backdrop);
}

.analytics-card-style {
    padding: var(--p-space-4);
    justify-content: center;
}