.center-content{
    text-align: center;
}
.justify-content{
    justify-content: center;
}
.display-f{
    display: flex;
}
.center-btn .Polaris-ButtonGroup{
    justify-content: center;
}
.offer-table-footer .Polaris-ButtonGroup{
    justify-content: center;
}
.space-1{
    margin-bottom: var(--p-space-1);
}
.space-2{
    margin-bottom: var(--p-space-2);
}
.space-3{
    margin-bottom: var(--p-space-3);
}
.space-4{
    margin-bottom: var(--p-space-4);
}
.space-10{
    margin-bottom: var(--p-space-10);
}
.report-money{
    margin-top: -15px;
    font-size: 1.5em;
}
.mx-width{
    max-width: 100px;
}
.min-width{
    min-width: 100px;
}

#appearance input[type=number]{
    max-width: 100px;
}

.edit-offer #appearance input[type=number]{
    max-width: unset;
}

.flex-tab{
    position: relative;
    display: flex;
}

.auto-height .Polaris-Card{
    min-height: 340px;
}

.offer-header-img {
    margin-right: 5px;
    margin-left: 20px;
    width: 40.43px;
    height: 24px;
    margin-top: 6px;
}

.offer-header-title {
    font-family: Helvetica Neue;
}

.settings-card-heading {
    height: 33px;
}

.Polaris-Button--primary {
    background-color: #3551E7 !important;
    padding: 8px 16px !important;
    border-radius: 4px !important;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08)  !important;
}

.Polaris-Button--primary:hover {
    background-color: #3049CD !important;
}

.title-bar-button {
    display: flex;
    justify-content: end;
}
.title-bar-title {
    display: flex;
    float: left;
    gap: 10px;
    align-items: center;
    height: 36px;
}

@media (max-width: 489px) {
    .title-bar-button {
        display: flex;
        justify-content: center;
    }

    .title-bar-title {
        float: none;
        justify-content: center;
    }

    .Polaris-Page__Content {
        padding: 8px;
    }
}

.narrow-width-layout {
    margin: 0 auto;
    max-width: 62rem;
}

.custom-footer {
    position: fixed;
    bottom: 3%;
    left: 0;
    right: 0;
}

.custom-footer .Polaris-Link {
    display: inline-flex;
}