h1{
    font-size: 1.75rem!important;
    font-weight: var(--p-font-weight-regular)!important;
}
.center-content{
    text-align: center;
}
.justify-content{
    justify-content: center;
}
.display-f{
    display: flex;
}
.center-btn .Polaris-ButtonGroup{
    justify-content: center;
}
.offer-table-footer .Polaris-ButtonGroup{
    justify-content: center;
}
.space-1{
    margin-bottom: var(--p-space-1);
}
.space-2{
    margin-bottom: var(--p-space-2);
}
.space-3{
    margin-bottom: var(--p-space-3);
}
.space-4{
    margin-bottom: var(--p-space-4);
}
.space-10{
    margin-bottom: var(--p-space-10);
}
.report-money{
    margin-top: -15px;
    font-size: 1.5em;
}
.mx-width{
    max-width: 100px;
}
.min-width{
    min-width: 100px;
}

.flex-tab{
    position: relative;
    display: flex;
}

.auto-height .Polaris-Card{
    min-height: 340px;
}

#column-example-1 {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
}

.help-articles ul{
    list-style-type: none;
}

#no-bg-card .Polaris-Card{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.Polaris-Heading {
    font-size: var(--p-font-size-5)!important;
}

.slick-list{
    padding: 10px;
}