{% if request.design_mode or request.visual_preview_mode  %}
  <div class="icu-notice">
    Only one block is needed per page. If your offers are not showing up, check to ensure your placement settings is set to this current page and your offer is published.
  </div>
{% endif %}

<div id="nudge-offer-list">
</div>

{% schema %}
  {
    "name": "Product/Cart Page Offers",
    "target": "section",
    "stylesheet": "index.css",
    "javascript": "index.js",
    "enabled_on": {
      "templates": ["product", "cart", "collection"]
    }
  }
{% endschema %}

