<div id="nudge-offer-list">

</div>

{% schema %}
  {
    "name": "Theme App Block",
    "target": "section",
    "stylesheet": "index.css",
    "javascript": "index.js",
    "enabled_on": {
      "templates": ["product", "cart", "collection"]
    }
  }
{% endschema %}