{% if request.design_mode or request.visual_preview_mode  %}
  <div class="icu-notice">
    Only one App block is needed per page. If your offers are not showing up, first ensure that your offer is published.
    Then, check the Placement Settings tab in your offer, to confirm that you have selected the correct page, you wish to display the offer on.
  </div>
{% endif %}

<div id="nudge-offer-list">
</div>

{% schema %}
  {
    "name": "Product Page Offers",
    "target": "section",
    "stylesheet": "index.css",
    "javascript": "index.js",
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}

