
.editOfferTabs_image_tag{
  box-shadow: 0px 0px 4px 0px;
}

.editOfferTabs_image_tag:hover{
  box-shadow: 0px 0px 2px 0px;
}

.editOfferTabs_image_clicked {
  border: 2px solid #000000;
  box-shadow: 0 0 0px 1px;
  transition: border 0.3s, box-shadow 0.3s;
}

.polaris-banner-container .Polaris-Banner {
  background-color: #fff1b894;
}

.recommended-current {
  top: 18px;
  position: absolute;
  color: #8C9196;
}

.subscription-subtitle {
  margin-top: -8px;
  line-height: 18px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.pl-10 {
  padding-left: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-28 {
  margin-top: 28px;
}

.paid-subscription .Polaris-LegacyCard {
  position: relative;
  padding-top: 20px;
}

.paid-subscription .Polaris-Text--root.Polaris-Text--headingMd, .paid-subscription .bold {
  font-weight: bold;
}

.paid-subscription .subscription-feature {
  font-weight: 500;
  margin-bottom: 4px;
}

.paid-subscription .subscription-desc {
  font-weight: 400;
  color: #8C9196;
  margin-bottom: 10px;
}

.features-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.pricing-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-bar-secondary-button {
  float: right;
}

.title-bar-button.title-button-alt, .title-bar-button.title-button-alt button {
  width: 100%;
  height: 100%
}

@media (max-width: 489px) {
  .title-bar-secondary-button {
    float: none;
    width: fit-content;
    margin: 0 auto;
  }

  .title-bar-button.title-button-alt, .title-bar-button.title-button-alt button {
    width: auto;
  }
}